* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    background-color: #ffd8b4;
    font-family: "Georgia";
}

.main-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 90vh;
}

h1 {
    font-size: 3rem;
    text-align: center;
    margin-top: 2rem;
}

img {
    height: 30%;
    width: auto;
    margin: 1% 0;
}

#start-button {
    margin: 2% 0;
}

#input-for-answers {
    visibility: hidden;
    font-family: "Georgia";
    margin: 2% 0;
    padding: 5px 0;
    text-align: center;
    width: 200px;
}

#submit-button {
    visibility: hidden;
}

button {
    font-family: "Georgia";
    padding: 0.75rem;
    border: none;
    border-radius: 1.75rem;
    cursor: pointer;
    color: #fff;
    background-color: #000;
    transition: background-color 0.5s;
    outline: none;
    transition: all 0.5s;
}

button:hover {
    background-color: #696969;
    transform: scale(1.1);
    transition: all 0.5s;
}

.correct {
    background-color: green;
}

.wrong {
    background-color: red;
}