* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    background-color: rgb(200, 255, 237);
}

.main-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 90vh;
}

h1 {
    font-family: Arial;
    text-align: center;
}

img {
    height: auto;
    width: 60%;
    margin: 1% 0;
}

#start-button {
    margin: 2% 0;
}

#input-for-answers {
    visibility: hidden;
    margin: 2% 0;
    padding: 1.5% 0;
    text-align: center;
}

#submit-button {
    visibility: hidden;
}

button {
    padding: 0.75rem;
    border: none;
    border-radius: 1.75rem;
    cursor: pointer;
    color: white;
    background-color: black;
}